# ANSWER 1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ritul pawar\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\ritul pawar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ritul pawar\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ritul pawar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#CONNECT TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
#opening the web page on automated chrome browser
driver.get("https://www.naukri.com/")

In [6]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")

In [8]:
location.send_keys('Bangalore')

In [9]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
#SCRAPIN JOB TITLE, location,company name, experience from the ginven page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')  
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [12]:
#check length of each column
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [13]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,Enrich Talents,0-4 Yrs
1,Graduate Data Analyst,Hybrid - Bangalore/Bengaluru,Kwalee India,0-2 Yrs
2,"Data Analyst, IND Blr Grp 4.3",Bangalore/Bengaluru,ANZ,5-10 Yrs
3,"Data Analyst, IND Blr Grp 4.3",Bangalore/Bengaluru,ANZ,5-10 Yrs
4,Data Analyst,Permanent Remote,Novitas Infotech,3-8 Yrs
5,Data Analyst,Bangalore/Bengaluru,Truecaller,3-5 Yrs
6,Data Analyst,"Hybrid - Bangalore/Bengaluru, Chennai",Virtusa,6-11 Yrs
7,Urgent Hiring | Data Analyst with GCP experience,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,2-7 Yrs
8,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",People De Code Solutions,4-9 Yrs
9,Data Analyst,Bangalore/Bengaluru,Alp Consulting Ltd,2-4 Yrs

In [14]:
driver.close()

# ANASWER 2

In [15]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ritul pawar\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\ritul pawar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ritul pawar\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ritul pawar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [16]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [17]:
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [18]:
driver.get("http://www.naukri.com/")

In [19]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Scientist')

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Banglore')

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [20]:
job_title=[]
job_loc=[]
company_name=[]

In [21]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
loc_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tags[0:10]:
    loc=i.text
    job_loc.append(loc)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [22]:
print(len(job_title),len(job_loc),len(company_name))

10 10 10

In [23]:
import numpy as np
df=pd.DataFrame({'JOB TITLE':job_title,'JOB LOCATION':job_loc,'COMPANY NAME':company_name})
df.index = np.arange(1, len(df) + 1)
df

,JOB TITLE,JOB LOCATION,COMPANY NAME
1,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Data Scientist,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Cognizant
4,Staff Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes
5,Sr. Data scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services (TCS)
6,Data Scientist II,Bangalore/Bengaluru,Uber
7,Physicist / Scientist,Bangalore/Bengaluru,Applied Materials
8,Senior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Justified Advertising Software Services India ...
9,Principal Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Agilon Health
10,Expert Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL Limited

In [256]:
driver.close()

# ANSWER 3

In [24]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ritul pawar\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio~=0.17 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sortedcontainers in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\ritul pawar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ritul pawar\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ritul pawar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [25]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [26]:
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [27]:
driver.get("http://www.naukri.com/")

In [28]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Scientist')

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [29]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [33]:
#SCRAPIN JOB TITLE, location,company name, experience from the ginven page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    cpmpany=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')  
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [34]:
#check length of each column
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [35]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df.index = np.arange(1, len(df) + 1)
df

,Title,Location,Company_name,Experience
1,Data Scientist,"Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo...",UPL Limited,4-8 Yrs
2,Data Scientist,Gurgaon/Gurugram,UPL Limited,2-7 Yrs
3,Junior Data Scientist,Gurgaon/Gurugram,UPL Limited,1-6 Yrs
4,Data Scientist || Immediate Joiner,Gurgaon/Gurugram,UPL Limited,8-13 Yrs
5,Manager-Data Science,Gurgaon/Gurugram,UPL Limited,3-6 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,UPL Limited,0-3 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,UPL Limited,0-3 Yrs
8,Senior Analyst-Risk Management,Gurgaon/Gurugram,UPL Limited,0-3 Yrs
9,Job Opening For Associate Manager-Data Scienti...,"Hybrid - Hyderabad/Secunderabad, Gurgaon/Gurugram",UPL Limited,9-14 Yrs
10,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",UPL Limited,2-4 Yrs

# ANSWER 4

In [36]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [57]:
#CONNECT TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [58]:
driver.get('http://www.flipkart.com/')

In [60]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [67]:

for page in range(start,end):
    name_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags:    
    name=i.text
    brand_name.append(name)

des_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in des_tags:
    des=i.text
    product_des.append(des)
    
price_tags=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
for i in price_tags:
    price=i.text
    product_price.append(price)
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [68]:
print(len({'BRAND':brand_name,'PRODUCT DESCRIPTION':product_des,'PRICE':product_price}))

3

In [69]:
df=pd.DataFrame({'Brand':brand_name[0:100],'Product description':product_des[0:100],'Price':product_price[0:100]})
df.index = np.arange(1, len(df) + 1)
df

,Brand,Product description,Price
1,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹219₹59963% off\nFree delivery
2,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹579₹89935% off\nFree delivery
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹519₹79935% off\nFree delivery
4,Resist,Polarized Wayfarer Sunglasses (Free Size),"₹1,399₹3,99965% off\nFree delivery"
5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),"₹649₹1,09940% off\nFree delivery"
...,...,...,...
96,Fair-x,UV Protection Aviator Sunglasses (58),₹207₹99979% off\nFree delivery
97,PIRASO,UV Protection Aviator Sunglasses (54),"₹250₹1,59984% off\nFree delivery"
98,New Specs,UV Protection Rectangular Sunglasses (Free Size),"₹259₹2,59990% off\nFree delivery"
99,Elligator,"UV Protection Aviator, Wayfarer Sunglasses (54)","₹236₹1,29981% off\nFree delivery"
100,Fair-x,UV Protection Aviator Sunglasses (58),₹203₹99979% off\nFree delivery

# ANSWER 5

In [70]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ritul pawar\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\ritul pawar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ritul pawar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ritul pawar\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ritul pawar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [71]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [72]:
#CONNECT TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [81]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [100]:
start=0
end=10

for page in range(start,end):
    ratings_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tags:    
    ratings=i.text
    i_ratings.append(ratings)

    summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags:
    summary=i.text
    i_summary.append(summary)

    sum_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in sum_tags:
    sum=i.text
    full_sum.append(sum) 
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [101]:
print(len(i_ratings),len(i_summary),len(full_sum))

50 50 50

In [102]:
df=pd.DataFrame({'RATINGS':i_ratings[0:100],'REVIEWS':i_summary[0:100],'FULL REVIEW':full_sum[0:100]})
df.index = np.arange(1, len(df) + 1)
df

,RATINGS,REVIEWS,FULL REVIEW
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
5,5,Highly recommended,It's my first time to use iOS phone and I am l...
6,5,Worth every penny,Previously I was using one plus 3t it was a gr...
7,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
8,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
9,5,Highly recommended,What a camera .....just awesome ..you can feel...
10,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
11,5,Simply awesome,Really satisfied with the Product I received.....
12,5,Perfect product!,Amazing phone with great cameras and better ba...
13,5,Best in the market!,Great iPhone very snappy experience as apple k...
14,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
15,5,Highly recommended,It's my first time to use iOS phone and I am l...
16,5,Worth every penny,Previously I was using one plus 3t it was a gr...
17,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
18,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
19,5,Highly recommended,What a camera .....just awesome ..you can feel...
20,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
21,5,Simply awesome,Really satisfied with the Product I received.....
22,5,Perfect product!,Amazing phone with great cameras and better ba...
23,5,Best in the market!,Great iPhone very snappy experience as apple k...
24,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
25,5,Highly recommended,It's my first time to use iOS phone and I am l...
26,5,Worth every penny,Previously I was using one plus 3t it was a gr...
27,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
28,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
29,5,Highly recommended,What a camera .....just awesome ..you can feel...
30,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
31,5,Simply awesome,Really satisfied with the Product I received.....
32,5,Perfect product!,Amazing phone with great cameras and better ba...
33,5,Best in the market!,Great iPhone very snappy experience as apple k...
34,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
35,5,Highly recommended,It's my first time to use iOS phone and I am l...
36,5,Worth every penny,Previously I was using one plus 3t it was a gr...
37,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
38,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
39,5,Highly recommended,What a camera .....just awesome ..you can feel...
40,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
41,5,Simply awesome,Really satisfied with the Product I received.....
42,5,Perfect product!,Amazing phone with great cameras and better ba...
43,5,Best in the market!,Great iPhone very snappy experience as apple k...
44,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
45,5,Highly recommended,It's my first time to use iOS phone and I am l...
46,5,Worth every penny,Previously I was using one plus 3t it was a gr...
47,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
48,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
49,5,Highly recommended,What a camera .....just awesome ..you can feel...
50,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

# ANSWER 6

In [103]:
import selenium 
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [104]:
#CONNECT TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [105]:
driver.get("https://www.flipkart.com/")

In [107]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sneakers')

search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [108]:
start=0
end=3

for page in range(start,end):
    name_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags:    
    name=i.text
    brand_name.append(name)
    
des_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in des_tags:
    des=i.text
    product_des.append(des)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price=i.text
    product_price.append(price)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [109]:
print(len({'BRAND':brand_name,'PRODUCT DESCRIPTION':product_des,'PRICE':product_price}))

3

In [110]:
df=pd.DataFrame({'Brand':brand_name[0:100],'Product description':product_des[0:100],'Price':product_price[0:100]})
df.index = np.arange(1, len(df) + 1)
df

,Brand,Product description,Price
1,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹219₹59963% off\nFree delivery
2,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹579₹89935% off\nFree delivery
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹519₹79935% off\nFree delivery
4,Resist,Polarized Wayfarer Sunglasses (Free Size),"₹1,399₹3,99965% off\nFree delivery"
5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),"₹649₹1,09940% off\nFree delivery"
...,...,...,...
96,Fair-x,UV Protection Aviator Sunglasses (58),₹207₹99979% off\nFree delivery
97,PIRASO,UV Protection Aviator Sunglasses (54),"₹250₹1,59984% off\nFree delivery"
98,New Specs,UV Protection Rectangular Sunglasses (Free Size),"₹259₹2,59990% off\nFree delivery"
99,Elligator,"UV Protection Aviator, Wayfarer Sunglasses (54)","₹236₹1,29981% off\nFree delivery"
100,Fair-x,UV Protection Aviator Sunglasses (58),₹203₹99979% off\nFree delivery

# ANSWER 7

In [111]:
import selenium 
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [112]:
#CONNECT TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [120]:
driver.get("https://www.amazon.in/")

In [121]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

In [123]:
driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[13]/span/a/span').click();

In [124]:
a_title=[]
a_ratings=[]
a_price=[]

title_tags=driver.find_elements(By.XPATH,'//span[@class="a-color-base"]')
for i in title_tags[0:10]:
    title=i.text
    a_title.append(title)
    
ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in ratings_tags[0:10]:
    ratings=i.text
    a_ratings.append(ratings)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    a_price.append(price)

In [125]:
print(len(a_title),len(a_ratings),len(a_price))

10 10 10

In [126]:
df=pd.DataFrame({'TITLE':a_title,'RATINGS':a_ratings,'PRICE':a_price})
df.index = np.arange(1, len(df) + 1)
df

                                                TITLE RATINGS   PRICE
1   Looking for Laptops? Shop from a wide selectio...     4.1  56,990
2                                           Get it by     4.3  85,990
3                             FREE Delivery by Amazon     4.0  95,490
4                                           Get it by     4.0  30,000
5                             FREE Delivery by Amazon     4.4  62,990
6                                           Get it by     3.9  82,990
7                             FREE Delivery by Amazon     4.1  94,500
8                                           Get it by     3.3  84,910
9                             FREE Delivery by Amazon     3.8  89,990
10                                          Get it by     3.7  69,990

In [127]:
driver.close()

# ANSWER 8

In [128]:
import selenium 
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [129]:
#CONNECT TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [130]:
driver.get("https://www.azquotes.com/")

In [ ]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [ ]:

start=0
end=10
a_quote=[]
a_author=[]
a_type=[]
for page in range(start,end):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:    
    quote=i.text
    a_quote.append(quote)
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    author=i.text
    a_author.append(author)
type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_tags:
    type=i.text
    a_type.append(type)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')

In [ ]:
print(len(a_quote),len(a_author),len(a_type))

In [ ]:
df=pd.DataFrame({'QUOTE':a_quote[0:1000],'AUTHOR':a_author[0:1000],'TYPE OF QUOTE':a_type})
df.index = np.arange(1, len(df) + 1)
df

# ANSWER 9

# I couldn't scrape the data from the table

In [132]:
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [133]:
driver.get("http://www.jagranjosh.com/")

In [134]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
search.click()

In [135]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

ElementClickInterceptedException: Message: element click intercepted: Element <a href="https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1">...</a> is not clickable at point (754, 655). Other element would receive the click: <div style="" id="gdprbx">...</div>
  (Session info: chrome=110.0.5481.104)
Stacktrace:
Backtrace:
	(No symbol) [0x003637D3]
	(No symbol) [0x002F8B81]
	(No symbol) [0x001FB36D]
	(No symbol) [0x00234E3B]
	(No symbol) [0x002326DB]
	(No symbol) [0x0022FD0B]
	(No symbol) [0x0022E4D8]
	(No symbol) [0x00223253]
	(No symbol) [0x0024B41C]
	(No symbol) [0x00222B96]
	(No symbol) [0x0024B774]
	(No symbol) [0x00261215]
	(No symbol) [0x0024B216]
	(No symbol) [0x00220D97]
	(No symbol) [0x0022253D]
	GetHandleVerifier [0x005DABF2+2510930]
	GetHandleVerifier [0x00608EC1+2700065]
	GetHandleVerifier [0x0060C86C+2714828]
	GetHandleVerifier [0x00413480+645344]
	(No symbol) [0x00300FD2]
	(No symbol) [0x00306C68]
	(No symbol) [0x00306D4B]
	(No symbol) [0x00310D6B]
	BaseThreadInitThunk [0x75EB7D69+25]
	RtlInitializeExceptionChain [0x773ABB9B+107]
	RtlClearBits [0x773ABB1F+191]

In [ ]:
name=[]
bd=[]
term=[]
remarks=[]

# ANSWER 10

In [136]:
import selenium 
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [137]:
#CONNECT TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ritul pawar\Downloads\chromedriver_win32\chromedriver.exe")

In [140]:
driver.get("https://www.motor1.com/")

In [151]:
driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div').click();

In [152]:
driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/a').click();

In [153]:
driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div[1]/div[1]/div[3]/div/div[1]/h3/a').click();

In [154]:
"""scraping details of 50 most expensive cars"""

name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name:
    name.append(i.text)
price=driver.find_elements(By.XPATH,'//stron[@class="postBody description e-content"]')
for i in price:
    price.append(i.text)
details=driver.find_elements(By.XPATH,'//p[@class="postBody description e-content"]')
for i in details:
    details.append(i.text)

AttributeError: 'str' object has no attribute 'text'

In [155]:
print(len(name),len(price),len(details))

NameError: name 'details' is not defined

In [156]:
df=pd.DataFrame({'NAME':name[0:50],'PRICE':price[0:50],'DETAILS':details})
df.index = np.arange(1, len(df) + 1)
df

NameError: name 'details' is not defined